@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

*::selection {
    color: #17181e;
    background-color: rgba(255,230,106,0.4);
}

html {
    width: 100%;
    color:#2e3f59;
    font-size:1.2rem;
    font-family: 'Jeju Gothic', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #2e3f59;
    width: 100%;
    height: 190px;
    align-items: center;
}
/* header > h1{
    font-size: 2rem;
} */
div.title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    max-width: 800px;
    margin: auto;
}
div.title > a{
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color:white;
    margin-bottom: 10px;
}
div.title > h6{
    width: 100%;
    height: 100%;
    color:white;
    margin-top: 10px;
}
.title-subcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* height: ; */
}
.title-subcont > a{
    font-size: 2rem;
    color:white;
}
.btn{
    border: 1px solid white;
    background-color: white;
    color: #2e3f59;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}
.index-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.index-div > h2,.rss-icon{
    padding-right: 7px;
    font-size: 1.5rem;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content > h2{
    width: 100%;
    max-width: 800px;
    font-size: 1.5rem;
    padding: 20px 0px;
    line-height: 3rem;
}
#content > h3{
    max-width: 800px;
    font-size: 1.2rem;
    padding: 20px 0px;
    line-height: 2.6rem;
}
div.postlist{
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.postlist > a{
    text-align: center;
    width: 100%;
    max-width: 800px;
    color:#2e3f59;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 50px;
    line-height: 2.5rem;
}
div.postlist > a:first-child{
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
div.postlist > a:last-child{
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
div.postlist > h3{
    margin: 1rem 0;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
footer > h6{
    width: 100%;
    max-width: 800px;
    font-size: 0.7rem;
}
#post{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
}
#post > hr{
    width: 100%;
    opacity: .5;
}
#post > h3{
    width: 100%;
    max-width: 800px;
    height: 100%;
    font-size: 1.3rem;
}
#post > p,details{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin: 0.2rem 0;
}
#post > details{
    cursor: pointer;
}
#post > p.tag{
    margin: 0.3rem 0;
}
#post > strong{
    font-size: 1.1rem;
    font-weight: bold;
}
a{
    text-decoration:none;
    color:#697bb8;
}
pre{ 
    white-space: pre-wrap;
    background-color: #2e3f59;
    color:white;
}
code{
    white-space: pre-wrap;
}
form{
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > h1{
    font-size: x-large;
    margin-bottom: 30px;
}
.input-field{
    width: 400px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    margin-bottom: 20px;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.textarea-field::placeholder{
    position: absolute;
    top: 10px;
}
form > .btn{
    width: 400px;
    border-radius: 14px;
    background-color: #2e3f59;
    color: white;
    
}