<header style="background-color: #2e3f59;height:240px;">
    <div class="inner-header" style="margin:0px 400px">
        <a href="{{url_for('index')}}"><h1 style="margin-top: 40px;display:inline-block;color:azure;">Data Traveler</h1></a>
        <h6 style="font-family: Arial;color:azure;">Tantum videmus quantum scimus</h6>
        <a href="{{url_for('resume')}}" target="_blank"><i class="fas fa-id-card" style="font-size: 2rem;color:azure;padding:50px 3px 0px 0px;"></i></a>
        <a href="https://github.com/98hyun" target="_blank"><i class="fab fa-github" style="font-size: 2rem;padding:50px 4px 0px 0px;color:azure;"></i></a>
        <a href="https://www.facebook.com/98hyun" target="_blank"><i class="fab fa-facebook" style="font-size: 2rem;padding:50px 4px 0px 0px;color:azure;"></i></a>
        <a href="mailto:ckdckd01@gmail.com" target="_blank"><i class="fas fa-envelope" style="font-size: 2rem;color:azure;padding:50px 5px 0px 0px;"></i></a>
        <a href="https://98hyun.github.io/rss.xml" target="_blank"><i class="fas fa-rss" style="font-size: 2rem;color:azure;padding:50px 5px 0px 0px;"></i></a>
    </div>
</header>