<header>
    <div class="title">
        <a href="{{url_for('index')}}"><h1>Data Traveler</h1></a>
        <h6>Tantum videmus quantum scimus</h6>
    </div>
    <div class="icons">
        <a href="{{url_for('resume')}}" target="_blank"><i class="fas fa-id-card"></i></a>
        <a href="https://github.com/98hyun" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/98hyun" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:ckdckd01@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://98hyun.github.io/rss.xml" target="_blank"><i class="fas fa-rss"></i></a>
    </div>
</header>