{% extends "base.html" %}

{% block head %}
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
{% endblock %}

{% block content %}
<div style="margin:0px 400px">
    <hr>
    <h3>{{ page.title }}</h3>
    <p class="tag"><strong>Author:</strong> {{ page.author }}</p>
    <p class="tag"><strong>Published:</strong> {{ page.published }}</p>
    {% include "list.html" %}
    <hr>
    {{page.html|safe}}
    <div id="vcomment"></div>
</div>

<script>
    new Valine({
        el: '#vcomment',
        appId: 'pMCP910pdFNjniAUKmcPWSzx-MdYXbMMI',
        appKey: 'kywgNcY0JmhAJ5UxQ1yPMl6c',
        meta: ['nick','mail'],
        lang: 'en',
        pageSize: 7
    });
</script>
{% endblock %}