{% extends "base.html" %}

{% block head %}
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/share.js' )}}"></script>
{% endblock %}

{% block content %}
<div id="post">
    <hr>
    <h3>{{ page.title }}</h3>
    <p class="tag"><strong>Author:</strong> {{ page.author }}</p>
    <p class="tag"><strong>Published:</strong> {{ page.published }}</p>
    {% include "list.html" %}
    {% include "share.html" %}
    <hr>
    {{page.html|safe}}
    <form action="https://www.actionforms.io/e/r/98hyun" method="POST">
        <h1>Contact Form</h1>
        <input type="hidden" name="_subject" value="Contact Form from blog">
        <input type="text" name="name" required class="input-field" placeholder="NickName" class="input-field">
        <input type="email" name="email" required placeholder="The Email that you will receive a reply from"
            class="input-field">
        <textarea type="text" name="msg" placeholder="Your Message&#13;&#10;You should send it and go back" class="input-field textarea-field" required></textarea>
        <button class="btn" type="submit">Send</button>
    </form>
</div>
{% endblock %}