{% block content %}
<p><strong>Share : 
    <span>
        <a id="kakao-link-btn" href="javascript:kakao()">
            <img width="40" height="40" 
                src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
        </a>
    </span>
    <span>
        <script type="text/javascript" src="https://ssl.pstatic.net/share/js/naver_sharebutton.js"></script>
        <script type="text/javascript">
            new ShareNaver.makeButton({
                "type": "f", "title": document.querySelector('meta[property="og:title"]')["content"],
                "url": window.location.href });
        </script>
    </span>
</strong></p>
{% endblock %}